button {
  height: 2.25rem;
  border: 0.03em solid rgb(215, 195, 195);
  font-size: 0.5em;
}

.zero {
  width: 50%;
}

.oper-right {
  width: 25%;
  background-color: rgba(245, 124, 38, 0.884);
}

.calc-panel {
  width: 25%;
}
