.calc-wrapper {
  margin-top: 15vh;
  display: flex;
  justify-content: space-between;
}

.calc-wrapper p {
  font-size: 1.5rem;
  color: #5a4e4e;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Pacifico', sans-serif;
  text-shadow: 1px 1px 1px black;
  text-decoration: underline overline;
  text-decoration-color: #5a4e4e;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.2em;
  text-decoration-skip-ink: none;
}

.calc-container {
  width: 45%;
}

.output-field {
  width: 99%;
  height: 2.25rem;
  background-color: rgba(189, 184, 184, 0.9);
  border: none;
  text-align: right;
}
